<div class="admin-sidebar">
  <div class="sidebar-header">
    <h5 class="text-center fw-bold">Ra7ala Admin</h5>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/admin/dashboard"
        routerLinkActive="active"
      >
        <i class="bi bi-speedometer2 me-2"></i>
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/trips" routerLinkActive="active">
        <i class="bi bi-bus-front me-2"></i>
        Trips Management
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/routes" routerLinkActive="active">
        <i class="bi bi-map me-2"></i>
        Routes Management
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/admin/stations"
        routerLinkActive="active"
      >
        <i class="bi bi-geo-alt-fill me-2"></i>
        Stations Management
      </a>
    </li>
    <li class="nav-item mt-3">
      <a class="nav-link text-danger" routerLink="/">
        <i class="bi bi-box-arrow-left me-2"></i>
        Exit to Website
      </a>
    </li>
  </ul>
</div>
