<div class="new-password-wrapper">
  <div class="new-password-left">
    <img
      src="assets/images/bus.svg"
      alt="New Password Image"
      class="new-password-image"
    />
  </div>
  <div class="new-password-right">
    <h1 class="logo-text">Ra7ala</h1>

    <h2 class="title">New Password</h2>
    <p class="subtitle">Enter your new password below.</p>

    <form
      [formGroup]="newPasswordForm"
      (ngSubmit)="onSubmit()"
      class="new-password-form"
    >
      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-wrapper">
          <i class="fa fa-lock icon"></i>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
            placeholder="Enter your new password"
            [ngClass]="{
              'is-invalid':
                newPasswordForm.get('password')?.invalid &&
                (newPasswordForm.get('password')?.dirty ||
                  newPasswordForm.get('password')?.touched)
            }"
          />
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            newPasswordForm.get('password')?.invalid &&
            (newPasswordForm.get('password')?.dirty ||
              newPasswordForm.get('password')?.touched)
          "
        >
          Password must be at least 6 characters
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <div class="input-wrapper">
          <i class="fa fa-lock icon"></i>
          <input
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            class="form-control"
            placeholder="Confirm your new password"
            [ngClass]="{
              'is-invalid':
                passwordMismatch() &&
                (newPasswordForm.get('confirmPassword')?.dirty ||
                  newPasswordForm.get('confirmPassword')?.touched)
            }"
          />
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            passwordMismatch() &&
            (newPasswordForm.get('confirmPassword')?.dirty ||
              newPasswordForm.get('confirmPassword')?.touched)
          "
        >
          Passwords do not match
        </div>
      </div>

      <button
        type="submit"
        class="btn-submit"
        [disabled]="newPasswordForm.invalid || isSubmitting"
      >
        Change
      </button>
    </form>
  </div>
</div>
