.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
}

.content-container {
  display: flex;
  flex: 1;
}




.main-content {
  flex: 1;
  padding: 20px 0; /* Keep top and bottom padding, remove left and right */
  overflow-y: auto;
}
