<footer>
  <div class="footer-container">
    <div class="company-section">
      <h2 class="logo">Ra7ala</h2>
      <p class="slogan">رحلات مريحة بكل ما تحتاجه</p>
      <p class="sub-slogan">لتجربة سفر مميزة</p>
    </div>

    <div class="services-section">
      <h3>Services</h3>
      <ul>
        <li>Travels</li>
        <li>locations</li>
        <li>Maps</li>
        <li>Buses</li>
        <li>About</li>
      </ul>
    </div>

    <div class="contact-section">
      <h3>Contact Us</h3>
      <p><i class="fas fa-phone"></i> +(123) 750-1234</p>
      <p><i class="fas fa-envelope"></i> info&#64;ٌra7ala.com</p>
      <p><i class="fas fa-map-marker-alt"></i> 374 FA Tower, Egypt</p>
      <div class="social-links">
        <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" class="google"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 Ra7ala. All rights reserved</p>
  </div>
</footer>
