<div class="login-wrapper">
  <div class="login-left">
    <img src="assets/images/bus.svg" alt="Login Image" class="login-image" />
  </div>
  <div class="login-right">
    <h1 class="logo-text">Ra7ala</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-group">
        <label>Email Address</label>
        <div class="input-wrapper">
          <i class="fa fa-envelope icon"></i>
          <input
            type="email"
            formControlName="email"
            class="form-control email-input"
            placeholder="Enter your Email"
            [ngClass]="{
              'is-invalid':
                loginForm.get('email')?.invalid &&
                (loginForm.get('email')?.dirty ||
                  loginForm.get('email')?.touched)
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              loginForm.get('email')?.invalid &&
              (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
            "
          >
            Please enter a valid email address
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Password</label>
        <div class="input-wrapper">
          <i class="fa fa-lock icon"></i>
          <input
            type="password"
            formControlName="password"
            placeholder="Password"
            [ngClass]="{
              'is-invalid':
                loginForm.get('password')?.invalid &&
                (loginForm.get('password')?.dirty ||
                  loginForm.get('password')?.touched)
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              loginForm.get('password')?.invalid &&
              (loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched)
            "
          >
            Password must be at least 6 characters
          </div>
        </div>
      </div>

      <div class="form-options">
        <div class="remember-me">
          <input type="checkbox" id="remember" />
          <label for="remember">Remember Me</label>
        </div>
        <a routerLink="/auth/forgot-password" class="forgot"
          >Forgot Password?</a
        >
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>

      <button
        type="submit"
        class="btn-login"
        [disabled]="loginForm.invalid || isSubmitting"
      >
        Log In
      </button>

      <p class="signup-link">
        Not member yet? <a routerLink="/auth/register">Create an account</a>
      </p>
    </form>
  </div>
</div>
